.FormContainer{
    font-family: 'DM Sans', sans-serif;
    padding: 1%;
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
    border-top: none;
    border-radius: 0.5%;
}

.Search{
    text-align: center;
    height: 25px;
    width: 72%;
}

.SearchList{
    width: 13%;
}

.AddExpense {
    width: 13%;
}

.EForm{
    font-family: 'DM Sans', sans-serif;
    width: 50%;
    padding-top: 1%;
    margin: 0 auto;
    border-radius: 0.5%;
    border: 2px solid black;
    border-top: none;
}

#tableContainer{
    font-family: 'DM Sans', sans-serif;
}

/* Mobile/Tablet Screens */
@media only screen and (max-width: 1000px) {
    .FormContainer{
        width: 100%;
        border: none;
    }

    .EForm{
        border: none;
    }

    .Search{
        width: 75%;
    }

    .SearchList{
        width: 10%;
    }
    
    .AddExpense {
        width: 13%;
    }
}